@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');

:root {
    --button-color: #FEFFFD;
    --border-color: #FEFFFD;
    --margin: 16px;
    --button-size: 32px;
    --button-radius: 7px;
}

* {
    -webkit-user-select: none;  /* Chrome, Safari, Opera */
    -moz-user-select: none;     /* Firefox */
    -ms-user-select: none;      /* IE 10+ */
    user-select: none;          /* Standard syntax */
    box-sizing: border-box !important;
}

body {
    background-color: var(--button-color);
    height: 100%;
    margin: 0;
    font-family: 'Montserrat', sans-serif !important;
}

.image-container {
    position: relative;
}

.image-container img {
    display: block;
}

img.pending {
    opacity: 0.5;
}

.leaflet-container {
    font-family: 'Montserrat', sans-serif !important;
}

.navy-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: var(--button-size);
    height: var(--button-size);
}

a.leaflet-bar-part.leaflet-bar-part-single {
    display: flex;
    justify-content: center;
    align-items: center;
    width: var(--button-size) !important;
    height: var(--button-size) !important;
}
.leaflet-control-locate-location-arrow {
    background-image: url(/icons/locate.svg) !important;
    background-repeat: no-repeat !important;
    background-position: 50% 50%;
    width: 100% !important;
    height: 100% !important;
}
a.leaflet-control-layers-toggle {
    background-image: url(/icons/layers.svg) !important;
    background-repeat: no-repeat !important;
    background-position: 50% 50%;
    background-size: 20px 20px !important;
}
.settingsheader {
    font-family: 'Montserrat', sans-serif !important;
    font-size: 20px !important;
    font-weight: 700 !important;
    font-style: normal !important;
    line-height: normal !important;
    margin-bottom: 20px !important;
    margin-top: 0 !important;
    color: #394C0A !important;
}
.baselayerstyle {
    cursor: pointer;
    padding-right: 12px !important;
    padding-left: 12px !important;
    border-radius: 12px !important;
    height: 40px;
    gap: 12px !important;
    display: flex !important;
    align-items: center;
    align-self: stretch;
    color: rgba(57, 76, 10, 0.80) !important;
    font-family: 'Figtree', sans-serif !important;
    font-size: 16px !important;
    font-style: normal !important;
    font-weight: 500 !important;
    line-height: 130% !important;
}

/*noinspection ALL*/
.selectedbaselayerstyle {
    background-image: url(/icons/tick.svg) !important;
    background-repeat: no-repeat !important;
    background-position: 95% 50%;
    padding-right: 12px !important;
    padding-left: 12px !important;
    background-color: #FEFFFD !important;
    border-radius: 12px !important;
    border: none !important;
    height: 40px;
    gap: 12px !important;
    display: flex !important;
    align-items: center;
    align-self: stretch;
    color: #394C0A !important;
    font-family: 'Figtree', sans-serif !important;
    font-size: 16px !important;
    font-style: normal !important;
    font-weight: 500 !important;
    line-height: 130% !important;
}

/*noinspection ALL*/
.overlaystyle {
    cursor: pointer;
    padding-right: 12px !important;
    padding-left: 44px !important;
    background-color: #FEFFFD !important;
    border-radius: 12px !important;
    border: none !important;
    height: 40px;
    gap: 12px !important;
    display: flex !important;
    align-items: center;
    align-self: stretch;
    color: #394C0A !important;
    font-family: 'Figtree', sans-serif !important;
    font-size: 16px !important;
    font-style: normal !important;
    font-weight: 500 !important;
    line-height: 130% !important;
}

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    z-index: 9969;
}

.nomatr {
    background-image: url(/icons/question.svg), url(/icons/toggle_off.svg);
    background-repeat: no-repeat !important;
    background-position: 5% 50%, 95% 50%;
}

.matrica {
    background-image: url(/icons/pin.svg), url(/icons/toggle_off.svg);
    background-repeat: no-repeat !important;
    background-position: 5% 50%, 95% 50%;
}

.nomatron {
    background-image: url(/icons/question.svg), url(/icons/toggle_on.svg) !important;
}

.matricaon {
    background-image: url(/icons/pin.svg), url(/icons/toggle_on.svg) !important;
}
.attrib {
    position:fixed;
    bottom: 0;
    right: 0;
    z-index: 9969;
}
.attribbutton {
    background-image: url(/icons/copyright.svg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.10), 0 1px 2px 0 rgba(0, 0, 0, 0.25);
    margin-right: 16px;
    margin-bottom: 16px;
    width: 32px;
    height: 32px;
    background-color: #FEFFFD;
    border-radius: 7px;
}
section.attribution-list {
    background-color: #F3FBDE !important;
    position: fixed !important;
    bottom: 0 !important;
    right: 16px !important;
    margin-left: 0 !important;
    margin-bottom: 0 !important;
    border-radius: 16px 16px 0 0 !important;
    padding: 24px !important;
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.10), 0 1px 2px 0 rgba(0, 0, 0, 0.25);
}
.attribution-header {
    font-family: 'Montserrat', sans-serif !important;
    font-size: 20px !important;
    font-weight: 700 !important;
    font-style: normal !important;
    line-height: normal !important;
    margin-bottom: 4px !important;
    margin-top: 0 !important;
    color: #394C0A !important;
}
.attribution-list {
    color: #394C0ACC;
    font-family: 'Figtree', sans-serif;
    font-weight: 500;
    font-size: 16px;
}
a.attribution-list {
    color: #A7DC22 !important;
}
.bgloader {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.attribp {
    margin-top: 8px;
    margin-bottom: 0;
    color: #394C0ACC;
}

.toprightcrap {
    position: fixed;
    margin-top: 16px;
    margin-right: 16px;
    gap: 8px;
    top: 0;
    right: 0;
    z-index: 9969;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.editwarning {
    z-index: 9970;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: fixed;
    width: 375px;
}

.editwarningpopup {
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.10), 0 1px 2px 0 rgba(0, 0, 0, 0.25);
    border-radius: 24px;
    background: #F3FBDE;
}

.editwarningpopup a {
    text-decoration: none;
}

.editwarnbutton {
    display: flex;
    margin: 0 28px 24px;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    background: #A7DC22;
}

.editwarnbutton p {
    color: #EDF3FF;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.3px;
    margin: 8px;
}

.editwarnheader {
    padding: 28px 28px 12px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
}

.editwarnheader h1 {
    margin: 0;
    color: #394C0A;
    text-align: left;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-style: italic;
    font-weight: 700;
    line-height: normal;
}

.editwarnheader p {
    margin: 0;
    color: #394C0ACC;
    text-align: left;
    font-family: "Figtree", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.editmap {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    padding: 5px;
    flex-shrink: 0;
    border-radius: var(--button-radius);
    background-color: #FEFFFD;
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.10), 0 1px 2px 0 rgba(0, 0, 0, 0.25);
}

.stickercount {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 32px;
    padding: 12px 12px 12px 32px;
    flex-shrink: 0;
    border-radius: 16px;
    background-image: url(/icons/stickericon.svg);
    background-repeat: no-repeat;
    background-position: 20% 50%;
    background-color: #F3FBDE;
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.10), 0 1px 2px 0 rgba(0, 0, 0, 0.25);
}
.stickercount p{
    color: #394C0A;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
    margin: 0;
    padding: 0;
}
.missingdata {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
    background-color: #FAFFF0;
    border-radius: 16px;
    padding: 16px 0;
    margin-top: 20px;
}
.sticker-container {
    margin-top: 0 !important;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 16px;
    background-color: #FAFFF0;
    position: relative;
}
.small-stickerimg {
    border-radius: 4px;
    position: absolute;
    bottom: 10px;
    left: 10px;
}
a.uri {
    color: #A7DC22 !important;
}
a.uri:visited {
    color: #A7DC22 !important;
}

.relativeclosebutton {
    position: absolute;
    right: 18px;
    top: 18px;
}
