@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');

:root {
    --button-color: #FBFCFF;
    --border-color: #CEDBF5;
    --margin: 16px;
    --button-size: 32px;
    --button-radius: 8px;
}

body {
    background-color: var(--button-color);
    height: 100%;
    margin: 0;
    font-family: 'Montserrat', sans-serif !important;
}

.image-container {
    position: relative;
}

.image-container img {
    display: block;
}

img.pending {
    filter: blur(10x) opacity(0.5);
    transition: filter 1s;
}

.leaflet-container {
    font-family: 'Montserrat', sans-serif !important;
}

.navy-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: var(--button-size);
    height: var(--button-size);
}

a.leaflet-bar-part.leaflet-bar-part-single {
    display: flex;
    justify-content: center;
    align-items: center;
    width: var(--button-size) !important;
    height: var(--button-size) !important;
}
.leaflet-control-locate-location-arrow {
    background-image: url(/icons/locate.svg) !important;
    background-repeat: no-repeat !important;
    background-position: 50% 50%;
    width: 100% !important;
    height: 100% !important;
}
a.leaflet-control-layers-toggle {
    background-image: url(/icons/layers.svg) !important;
    background-repeat: no-repeat !important;
    background-position: 50% 50%;
background-size: 20px 20px !important;
}