/* Margins */
.leaflet-left {
    margin-left: var(--margin) !important;
}
.leaflet-top {
    margin-top: var(--margin) !important;
}
.leaflet-right {
    margin-right: var(--margin) !important;
}
.leaflet-bottom {
    margin-bottom: var(--margin) !important;
}
.leaflet-control {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
}
/* Default button size */
.leaflet-touch .leaflet-bar a {
    width: var(--button-size) !important;
    height: var(--button-size) !important;
    line-height: var(--button-size) !important;
}
.leaflet-touch .leaflet-control-layers-toggle {
    width: var(--button-size) !important;
    height: var(--button-size) !important;
    border-radius: var(--button-radius) !important;
}
.leaflet-control-layers {
    background: none !important;
}
/* Default border */
.leaflet-touch .leaflet-control-layers, .leaflet-touch .leaflet-bar {
    border: none !important;
}
/* Rounding */
.leaflet-touch .leaflet-bar a:first-child {
    border-top-right-radius: var(--button-radius) !important;
    border-top-left-radius: var(--button-radius) !important;
    box-shadow: 0 1px 2.1px 0 #00000075;
}
.leaflet-touch .leaflet-bar a:last-child {
    border-bottom-right-radius: var(--button-radius) !important;
    border-bottom-left-radius: var(--button-radius) !important;
    box-shadow: 0 1px 2.1px 0 #00000075;
}
/* Borders */
.leaflet-control-zoom-in {
    border: 1px solid var(--border-color) !important;
}
.leaflet-control-zoom-out {
    border: 1px solid var(--border-color) !important;
    border-top: none !important;
}
.leaflet-control-locate {
    margin-top: 8px !important;
}
a.leaflet-bar-part.leaflet-bar-part-single {
    border: 1px solid var(--border-color) !important;
}
a.leaflet-control-layers-toggle {
    background-color: var(--button-color) !important;
    border: 1px solid var(--border-color) !important;
    box-shadow: 0 1px 2.1px 0 #00000075;
}
section.leaflet-control-layers-list {
    background-color: var(--button-color) !important;
}
.leaflet-bar a{
    background-color: var(--button-color) !important;
}
.leaflet-popup-content-wrapper, .leaflet-popup-tip {
    background: #EDF3FF !important;
}
.leaflet-popup-content-wrapper {
    width: 320px !important;
    box-shadow: 0 1px 2.1px 0 #00000075 !important;
    border-radius: 16px !important;
}
.leaflet-popup-tip {
    box-shadow: 0 1px 2.1px 0 #00000075 !important;
}
.leaflet-popup-content h3{
    padding-left: 5px !important;
    padding-right: 5px !important;
    color: #050B15;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    size: 20px;
    height: 24px !important;
    margin: 0 !important;
}
.communityfound {
    padding-left: 5px !important;
    padding-right: 5px !important;
    color: #3F444F !important;
    font-family: 'Figtree', sans-serif;
    font-weight: 500;
    size: 14px;
}
.popupdesc {
    padding-left: 5px !important;
    padding-right: 5px !important;
    color: #050B15 !important;
    font-family: 'Figtree', sans-serif !important;
    font-weight: 500 !important;
    size: 14px !important;
    margin-top: 8px !important;
    margin-bottom: 8px !important;
}
.popupimg {
    margin-top: 8px !important;
    border-radius: 16px !important;
}
.missinginfo {
    padding-left: 5px !important;
    padding-right: 5px !important;
    color: #487DE6 !important;
    font-family: 'Figtree', sans-serif;
    font-weight: 500;
    size: 14px;
}
.leaflet-popup-close-button {
    width: 20px !important;
    height: 20px !important;
    background-image: url(/icons/close.svg) !important;
    margin: 10px;
}
.leaflet-popup-close-button span {
    color: #00000000 !important;
}