body {
    background-color: #E7EFFF;
        height: 100%;
        margin: 0;
        font-family: 'Montserrat', sans-serif !important;
}

.leaflet-container {
    font-family: 'Montserrat', sans-serif !important;
}

.icon {
    width: 30px;
    height:25px;
}
.leaflet-control-zoom-in, .leaflet-control-zoom-out {
    display: flex !important;
    align-items: center;
    text-indent: 0 !important;
}
.leaflet-bar {
    border: 2px solid rgba(0, 0, 0, 0.2) !important;
}
.leaflet-bar a {
    background-color: #FBFCFF !important;
    color: #3F444F !important;
    border-bottom: none !important;
}
.leaflet-bar a:hover {
    background-color: #DAE4F7 !important;
    color: #0A2456 !important;
}
.leaflet-control-scale-line {
    background-color: #FBFCFF !important;
    background: #FBFCFF !important;
    text-shadow: none !important;
    border: 2px solid rgba(0, 0, 0, 0.2) !important;
    border-radius: 4px !important;
}
.leaflet-control-layers-toggle {
    background-image: url(/icons/layers.svg) !important;
    width: 30px !important;
    height: 30px !important;
}
.leaflet-control-layers {
    background-color: #FBFCFF !important;
    border: 2px solid rgba(0, 0, 0, 0.2) !important;
}
.leaflet-control-attribution {
    background-color: #FBFCFF !important;
    margin-bottom: 10px !important;
    margin-right: 10px !important;
    border: 2px solid rgba(0, 0, 0, 0.2) !important;
    border-radius: 4px !important;
    z-index: 100 !important;
}
.leaflet-control-scale {
    margin-bottom: 10px !important;
    margin-left: 10px !important;
}